# .NET
bin/
obj/
*.user
*.suo
.vs/
*.db
*.db-shm
*.db-wal
logs/
uploads/

# Environment files
.env
appsettings.*.local.json

# Node
node_modules/
dist/
.angular/
.sass-cache/
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
