.layout-container {
  height: 100vh;
}
.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 260px;
  border-right: 1px solid #f0f0f0;
  box-shadow: none;
}
/* Override Material sidenav background */
:host ::ng-deep .mat-drawer {
  background: #fff;
}
.content {
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
.page-container {
  padding: 24px;
  flex: 1;
  overflow-y: auto;
}
.chat-sidenav {
  width: 380px;
  border-left: 1px solid #f0f0f0;
  box-shadow: none;
}
@media (max-width: 599px) {
  .chat-sidenav {
    width: 100vw;
  }
}
