<div class="layout-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav
                 [mode]="isMobile ? 'over' : 'side'"
                 [opened]="!isMobile"
                 class="sidenav">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav #chatSidenav position="end" mode="over" class="chat-sidenav">
      <app-chat-panel></app-chat-panel>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <app-header (toggleSidenav)="sidenav.toggle()" (toggleChat)="chatSidenav.toggle()"></app-header>
      <div class="page-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
